{% extends 'front_end/base.html'%} {% block content %} {% load static %}

<!--SLIDER SECTIONS -->
<aside id="fh5co-hero">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url('{% static 'images/img_bg_1.jpg' %}')" ;>
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center slider-text">
              <div class="slider-text-inner">
                <h1>
                  The Roots of Education are Bitter, But the Fruit is Sweet
                </h1>
                <p>
                  <a class="btn btn-primary btn-lg" href="#"
                    >Start Learning Now!</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url('{% static 'images/img_bg_2.jpg' %}')">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center slider-text">
              <div class="slider-text-inner">
                <h1>The Great Aim of Education is not Knowledge, But Action</h1>
                <p>
                  <a class="btn btn-primary btn-lg btn-learn" href="#"
                    >Start Learning Now!</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url('{% static 'images/img_bg_3.jpg' %}')">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center slider-text">
              <div class="slider-text-inner">
                <h1>We Help You to Learn New Things</h1>
                <p>
                  <a class="btn btn-primary btn-lg btn-learn" href="#"
                    >Start Learning Now!</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<!--SLIDER SECTIONS ENDS -->

<!--INTRO SECTIONS -->
<div id="fh5co-course-categories">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h1>WE CREATE SKILL ENGINEERS</h1>
        <ul style="list-style-type: none">
          <li>
            Are you a technical person and ready to add or develop more skills
            set?
          </li>
          <li>Perhaps you’re entirely new to the trade?</li>
          <li>
            Whatever your level, our complete range of technical courses will
            equip you with the skills and qualifications you need to provide
            professional services.
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-shop"></i>
          </span>
          <div class="desc">
            <h3><a href="#">Our Programs </a></h3>
            <p>
              Find out all techincal courses . We delivered our courses in way
              to make perfect in your reallife. We offered number one techinical
              courses. Check out our all courses.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-plus"></i>
          </span>
          <div class="desc">
            <h3><a href="#">What We Do.</a></h3>
            <p>
              TSD delivered Accredited Gas, Electrical, Plumbing and
              Construction training courses in London, enabling students from
              all over the UK .
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-flow-children"></i>
          </span>
          <div class="desc">
            <h3><a href="#">Our Aim</a></h3>
            <p>
              Our main objective to create more efficient engineers. Our hands
              on training and Expert Trainers provide more realistic examples
              and share their experiences which makes the participant's life
              easier in the real world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-radar"></i>
          </span>
          <div class="desc">
            <h3><a href="#">Our Motto</a></h3>
            <p>
              <strong>Hope is Everything.</strong> Your generosity makes our
              work possible. Our mission is to create professional where we can
              ensure health & safety.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-infinity"></i>
          </span>
          <div class="desc">
            <h3><a href="#">How To Start?</a></h3>
            <p>
              <strong>Only two steps to Join us.</strong> Simply Register with
              us and Choose the courses and happy Learning.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-eye"></i>
          </span>
          <div class="desc">
            <h3><a href="#">Have a Query?</a></h3>
            <p>
              <strong>Call Us: +44 0203 00 23 555</strong> <br />
              or <br />
              Write Us : contact@tsd.org.uk
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--INTRO SECTIONS ENDS -->

<!--rgb(237,152,0)-->

<!---COUNTER SECTION -->
<div
  id="fh5co-counter"
  class="fh5co-counters"
  style="background-color: rgb(237, 152, 0)"
  data-stellar-background-ratio="0.5"
>
  <div class=""></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="icon-world"></i></span>
            <span
              class="fh5co-counter js-counter"
              data-from="0"
              data-to="3297"
              data-speed="5000"
              data-refresh-interval="50"
            ></span>
            <span class="fh5co-counter-label">Foreign Followers</span>
          </div>
          <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="icon-study"></i></span>
            <span
              class="fh5co-counter js-counter"
              data-from="0"
              data-to="3700"
              data-speed="5000"
              data-refresh-interval="50"
            ></span>
            <span class="fh5co-counter-label">Students Enrolled</span>
          </div>
          <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="icon-bulb"></i></span>
            <span
              class="fh5co-counter js-counter"
              data-from="0"
              data-to="5034"
              data-speed="5000"
              data-refresh-interval="50"
            ></span>
            <span class="fh5co-counter-label">Classes Complete</span>
          </div>
          <div class="col-md-3 col-sm-6 text-center animate-box">
            <span class="icon"><i class="icon-head"></i></span>
            <span
              class="fh5co-counter js-counter"
              data-from="0"
              data-to="1080"
              data-speed="5000"
              data-refresh-interval="50"
            ></span>
            <span class="fh5co-counter-label">Certified Teachers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---COUNTER SECTION ENDS-->

<!--COURSE SECTIONS -->
<div id="fh5co-course">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Our Course</h2>
        <p>
          TSD provides the necessary strategies, skills, experiences and tools
          to the individuals and companies in the areas Gas, Plaumbing,
          Electrician which makes an individaul professional and efficient.
        </p>
      </div>
    </div>
    <div class="row">
      {% for item in obj %}
      <div class="col-md-4 animate-box">
        <div class="card course shadow-sm">
          <a href="/course_details/{{item.id}}"
            ><img
              class="card-img-top"
              src="{{item.thumbnail.url}}"
              alt="Card image cap"
          /></a>
          <div class="card-body text-center" style="background-color: #fafafa">
            <a href="/course_details/{{item.id}}"
              ><h3 class="card-title" style="text-align: center">
                {{item.name}}
              </h3></a
            >
            <hr />

            <h3 class="card-text"><span>&#163; {{item.price}}.00</span></h3>
            <p class="card-text">
              <span>Duration : {{item.course_duration}}</span>
            </p>
            <a href="#" class="btn btn-Card">Book Your Seat!</a>
            <a href="/course_details/{{item.id}}" class="btn btn-Card"
              >Course Details</a
            >
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
<!--COURSE SECTIONS ENDS -->

<!--BLOG AND EVENT SECTIONS -->
<div id="fh5co-blog" class="fh5co-bg-section">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Blog</h2>
        <p>
          whats our community says about training and Skill Development sections
        </p>
      </div>
    </div>
    <div class="row">
      {% for item in blog_data %}
      <div class="col-md-4 animate-box">
        <div class="card course shadow-sm">
          <img
            class="card-img-top"
            src="{{item.image.url}}"
            alt="Card image cap"
          />
          <div class="card-body text-center" style="background-color: #fafafa">
            <h3 class="card-title" style="text-align: center">
              {{item.title}}
            </h3>
            <p class="card-text" style="text-align: center">
              Published : {{item.date}} | Author: {{item.author}} |
            </p>
            <hr />

            <a href="/blog_details/{{item.id}}" class="btn btn-Card"
              >Read more</a
            >
          </div>
        </div>
      </div>

      {% endfor %}
      <div style="text-align: center">
        {% if blog_data.has_previous %}
        <a
          class="btn btn-Card shadow-md"
          href="{% url 'index' %}?page={{blog_data.previous_page_number}}"
          >Previous</a
        >
        {% endif %} {% if blog_data.has_next %}
        <a
          class="btn btn-Card shadow-md"
          href="{% url 'index' %}?page={{blog_data.next_page_number}}"
          >Next</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!--BLOG AND EVENT SECTIONS ENDS -->

<!--TESTIMONIAL SECTIONS -->
<div id="fh5co-testimonial" style="background-image: url(images/school.jpg)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2><span>Testimonials</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row animate-box">
          <div class="owl-carousel owl-carousel-fullwidth">
            <div class="item">
              <div class="testimony-slide active text-center">
                <div
                  class="user"
                  style="background-image: url(images/person1.jpg)"
                ></div>
                <span>Mary Walker<br /><small>Students</small></span>
                <blockquote>
                  <p>
                    &ldquo;Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.&rdquo;
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="testimony-slide active text-center">
                <div
                  class="user"
                  style="background-image: url(images/person2.jpg)"
                ></div>
                <span>Mike Smith<br /><small>Students</small></span>
                <blockquote>
                  <p>
                    &ldquo;Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.&rdquo;
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="testimony-slide active text-center">
                <div
                  class="user"
                  style="background-image: url(images/person3.jpg)"
                ></div>
                <span>Rita Jones<br /><small>Teacher</small></span>
                <blockquote>
                  <p>
                    &ldquo;Far from the countries Vokalia and Consonantia, there
                    live the blind texts. Separated they live in Bookmarksgrove
                    right at the coast of the Semantics, a large language
                    ocean.&rdquo;
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TESTIMONIAL SECTIONS ENDS -->

{% endblock %}
